{% extends 'base.html' %}

{% block title %}
Contraseña actualizada | Pronty Outlet
{% endblock %}

{% block content %}

<section class="auth-page">

    <div class="container">

        <div class="auth-card">

            <div class="auth-card__icon">
                <i data-lucide="circle-check"></i>
            </div>

            <span class="section-heading__eyebrow">
                Mi cuenta
            </span>

            <h1>
                Contraseña actualizada
            </h1>

            <p class="auth-card__intro">
                Tu contraseña fue cambiada correctamente.
                Ya puedes ingresar nuevamente a tu cuenta
                de Pronty Outlet.
            </p>


            <div class="auth-card__footer">

                <a href="{% url 'accounts:login' %}">
                    Iniciar sesión
                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}